body {
    padding: 0;
    margin: 0;
    background-image: url(Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    border: 3px solid black;
    padding: -3px;
    margin-right: 2em;
    box-shadow: 0px 0px 10px ;
}


.title{
    font-size: 5em;
    font-weight: 700;
    
}
.result{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: bisque;
    margin: .3em;
    margin-left: 0px;
    padding: 1em .5em;
    font-weight: 700;
    font-size: 1.5em;
    width: 300px;
    color: blueviolet;

}

.update{
    margin-left: .3em;
}

.update i{
    color: black;
    font-weight: bolder;
    margin: 0em .1em;

}


.controls{

    background-color:blueviolet;
    padding: 1em;
    color: white;


}

.Lives{
    font-size: 1.8em;
}

.updateRed{
    color: red;
    font-weight: bolder;
    margin: 0em .1em;
}

.updateRed i{
    margin: 0px .2em;
}

.hide{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.596);
    display: none;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    color: white;
    box-shadow: 0px 0px 10px -4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
}

.warning{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.596);
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 500px;
    color: white;
    box-shadow: 0px 0px 10px -4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
}
.footer{
    position: fixed;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 100vw;
    color: white;
    box-shadow: 0px 0px 10px -4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    z-index: 1;
    font-size: 2em;
    padding: 1em 0em;
}
.centerdiv{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.refresh{
    background-color: transparent;
    color: blueviolet;
    font-weight: 700;
    border: none;
    font-size: 2em;
}

.nextaction{
    background-color: aquamarine;
    color: blueviolet;
    padding: 1.2em .6em;
}

/* .he{
    font-weight: 700;
} */

@media only screen and (max-width: 800px) {
    .warning{
        display: flex;
        width: 100vw;
        flex-direction: column;
        color: rgb(251, 255, 0);
    }
}
@media only screen and (max-width: 1300px) {
    body{
        flex-direction: column;
        margin-top: 30px;
    }
    main{
        margin-right: inherit;
    }
    .text{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .controls{
        margin-bottom:3em ;
    }

    .footer{
        width: 30%;
        right: 2em;
        font-size: 1em;
    }
}
